.about__title{
    text-align: center;
    margin-bottom: 5rem;
    margin-top: 12rem;
}

.about__image{
    display: flex;
    justify-content: center;
}

.about__article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    align-items: center;
    margin-top: 3rem;
}

.about__article-title{
    color: var(--color-black);
    margin-bottom: 1.5rem;
}

.about__article .btn{
    margin-top: 2.4rem;
}

@media screen and (max-width: 1024px){
    #about{
        margin-top: 7rem;
    }

    .about__article{
        margin: 0 auto;
    }
}

@media screen and (max-width: 600px){
.about__article {
    grid-template-columns: 1fr;
    margin-top: 5rem;
    text-align: center;
    gap: 0;
  }

  .about__article:nth-child(2) .about__image {
    grid-row: 1;
  }

  }