.container.contact__container{
    width: 58%;
    display: grid;
    grid-template-columns: 30% 50%;
    gap: 12%;
}

.contact__options{
    display: grid;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__option{
    background: var(--color-primary-v);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
}

.contact__option:hover{
    background: transparent;
    border-color: var(--color-primary-v);
}


