header{

    background: red;
    height: 100vh;
}

.header__container{
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    align-items: center;
    padding-bottom: 2rem;
}

 .MER {
    width: 31rem;
    height: 30rem;
    position: absolute;
    right: calc(10% - 8.5rem);
    border-radius: 50%;
    top: 20%;
    object-fit: cover;
}

.header__title{
    padding-top: 8rem;
    color: var(--color-white);
}

header p {
    color: rgba(255,255,255,0.8);
    margin-bottom: 0;
}

.header__socials{
    position: absolute;
    top: 38%;
    right: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.2rem;
}

.header__decorator-1{
    position: absolute;
}

.header__decorator-2{
    position: absolute;
    right: 0;
    margin-top: -24rem;
}



@media screen and (max-width: 1024px){
    header{
        padding-bottom: var(--buttom-section-padding-mobile);
        background: var(--color-primary);
    }

    .header__title{
        margin-bottom: 1.5rem;
    }

    .header__image{
        display: none;
    }

    .header__socials{
        gap: 1rem;
        font-size: 1rem;
    }

    .header__decorator-2{
        display: none;
    }

    .MER{
        display: none;
    }

}

@media screen and (max-width: 600px){
    .header__title{
        padding-top: 11rem;
        font-size: 4rem;
        margin-bottom: 0;
      }

      .header__socials{
        display: none;
      }

      .MER{
        display: none;
    }

}