@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --color-primary: #f20602d0;
    --color-primary-variant: rgba(0,0,240,0.2);
    --color-white: #fff;
    --color-black: #000f37;
    --color-dark: #575757;
    --color-ligh: #dfdddd;

    --buttom-section-padding: 10rem;
    --buttom-section-padding-mobile: 8rem;

    --container-width: 84%;
    --container-width-tablet: 90%;
    --container-width-phone: 94%

}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    color: var(--color-dark);
    line-height: 1.7;
    background: var(--color-white);
}

.container{
    width: var(--container-width);
    margin: 0 auto;
}

h1{
    font-size: 5.6rem;
    line-height: 1;
    color: var(--color-black);
}

h2{
    font-size: 3rem;
    font-weight: 500;
    line-height: 1;
}

h3{
    font-size: 2rem;
    font-weight: 600;
}

.lead{
    width: 63%;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

a{
    color: var(--color-white);
    font-weight: 300;
    border-radius: 4px;
}

img{
    width: 60%;
}

.btn{
    display: inline-block;
    padding: 1rem 2.3rem;
    background: var(--color-white);
    color: var(--color-black);
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 0.4rem;
}

.btn-primary{
    background: var(--color-primary);
    color: var(--color-white);
    transition: all 300ms ease;
}

.btn-primary:hover{
    background: var(--color-white);
    color: var(--color-black);
    border-color: var(--color-black);
}

.section{
    max-width: 100vw;
    padding-bottom: var(--buttom-section-padding);
    height: 100vw;
}



@media screen and (max-width: 1024px){
    .container{
        width: var(--container-width-tablet);
    }

    h1 { 
        font-size: 4.2rem;
    }

    h2{
        font-size: 2rem;
    }

    h3{
        font-size: 1.9rem;
    }

    .lead{
        width: 72%;
        margin-bottom: 3rem;
    }

    section {
        padding-bottom: var(--buttom-section-padding-mobile);
    }
}

@media screen and (max-width: 600px){
    .service__container{
        grid-template-columns: 1fr;
        gap: 1rem;  
      }


      html{
        font-size: 14px;
      }

      h1{
        font-size: 1.8rem;
      }

      h3{
        font-size: 1.4rem;


      }

      .lead{
        width: var(--container-width-phone);
      }
}