nav{
    width: 100vw;
    height: 6rem;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background: transparent;
}

.window-scroll {
    background: var(--color-primary);
}

.nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button{
    display: none;
}

.nav__items{
    display: flex;
    gap: 3rem;
}

.nav__logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.nav__logo h3 {
    font-size: 1.7rem;
}

nav a:hover{
    background: rgba(0, 0, 0, 0.3);
}

nav a.active{
    background: transparent;
    color: var(--color-white);
}

@media screen and (max-width: 600px){
    .nav__logo {
        margin-left: 1rem;
      }

      .nav__items li a{
        justify-content: center;
        padding: 0;
      }

      nav button{
        margin-right: 0.7rem;
      }

      .header__title{
        padding-top: 11rem;
      }
}

@media screen and (max-width: 1024px){
    nav{
        background: var(--color-primary);
    }
    .nav__container{
        position: relative;
        width: 100vw;
    }

    .nav__logo{
        margin-left: 2rem;
        position: relative;
    }

    .nav__items{
        position: fixed;
        top: 6rem;
        right: 0;
        background: var(--color-white);
        height: max-content;
        width: 18rem;
        box-shadow: -2rem 2rem 3rem rgba(0, 0, 0, 0.2);
        flex-direction: column;
        gap: 0;
        z-index: 3;
        display: none;
    }

    .nav__items li {
        width: 100%;
        height: 6rem;
    }

    .nav__items li a{
        color: var(--color-black);
        width: 100%;
        height: 100%;
        display: block;
        padding-left: 3rem;
        display: flex;
        align-items: center;
        transition: all 400ms ease;
    }

    .nav__items li a:hover{
        background: var(--color-primary);
        color: var(--color-white);
    }

    .nav__logo{
        position: relative;
        left: 0;
        transform: translate(0);
    }

    nav button{
        display: inline-block;
        margin-right: 1.4rem;
        background: transparent;
        color: var(--color-white);
        cursor: pointer;
        border: none;
    }

    nav button#close-btn{
        display: none;
    }

    nav button i{
        font-size: 2.4rem;
    }
}